@import "bourbon";
@import "neat-helpers";

// $visual-grid: true;
$visual-grid-color: #E6F6FF;

//Breakpoints

$mobile: new-breakpoint(max-width 650px, 3);

// @import 'grid_settings';
@import "neat";

.hello {
  @include outer-container;
  text-align: center;
  
  nav {
    padding-top: 2rem;
    @include span-columns(6);
    @include shift(3);
  }

  section {margin: 12% auto 3% auto;}
  
  h1 {
    font-size: 11rem;
    margin: 0 auto;
    line-height: 85%;
  }

  h2 {margin-top: 1rem;}

  h3 {
    font-size: 2.1rem;
    margin-top: .5rem;
  }
}

