<nav>
  <h2>
    <ul>
      <li><a class="standout" href = "about">About</a></li>  
      <li><a class="standout" href = "projects">Projects</a></li>        
      <li><a class="standout" href = "contact">Contact</a></li> 
    </ul>       
  </h2>
</nav>