<nav>
  <h2>
    <ul>
      <li><%= link_to 'About', "about.html", class: 'standout'%></li>  
      <li><%= link_to 'Projects', "projects.html", class: 'standout'%></li>  
      <li><%= link_to 'Contact', "contact.html", class: 'standout'%></li>  
    </ul>       
  </h2>
</nav>