---
title: Celeen Rusk
---

<section class="main">
  <h3>About</h3>
  <aside class = "mobile">
    <img src="../images/laughingself.jpg">
  </aside>
  <article>
    <p>I'm a software engineer, musician, and vegetable enthusiast residing in the great, flat city of Chicago. I fill my time with building software, exploring how to DIY whatever I can, cooking, and occasionally <a class = "hidden" href = "https://www.youtube.com/channel/UCG4ZHMnxvjbl0QzH-S6okVw/videos">doing music-y projects.</a></p>
    <br>
    <p>I currently work as a software engineer at Braintree.</p>
  </article>
  <aside class = "desktop">
    <img src="../images/laughingself.jpg">
  </aside>
</section><!-- .hello -->
