---
title: Celeen Rusk
---

<section class="main">
  <h3>About</h3>
  <aside class = "mobile">
    <img src="../images/laughingself.jpg">
  </aside>
  <article>
    <p>I'm a software engineer, musician, and vegetable enthusiast residing in the great, flat city of Chicago. I fill my time with building software, exploring how to DIY whatever I can, cooking, and occasionally <a class = "hidden" href = "https://www.youtube.com/channel/UCG4ZHMnxvjbl0QzH-S6okVw/videos">learning how to play and sing a new song on the ukulele.</a></p>
    <br>
    <p>I attended Dev Bootcamp in Chicago over the summer of 2014 after falling in love with the efficiency, optimism, and determination intrinsic in Dev Bootcamp's approach. Since then, I've been thoroughly enjoying the opportunity to learn continuously in my day to day as a software developer.</p>
  </article>
  <aside class = "desktop">
    <img src="../images/laughingself.jpg">
  </aside>
</section><!-- .hello -->
