---
title: Contact Celeen
---

<%= partial "header" %>

<section class="main">
  <h3>Contact</h3>
  <article>
    <p>I'd love to receive any general questions, feedback, or shoutouts via <%= mail_to 'hello+website@celeen.info', 'email', class: 'standout' %> or <%= link_to 'twitter', 'https://twitter.com/celeenr', target: '_blank', class: 'standout' %>.</p>
    <br>
  </article>
</section>