


<h1 id="celeen-rusk">Celeen Rusk</h1>
<ul class="contact">
  <li><a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#101;&#108;&#108;&#111;&#064;&#099;&#101;&#108;&#101;&#101;&#110;&#046;&#105;&#110;&#102;&#111;">&#104;&#101;&#108;&#108;&#111;&#064;&#099;&#101;&#108;&#101;&#101;&#110;&#046;&#105;&#110;&#102;&#111;</a></li>
  <li>512-775-7887</li>
</ul>

<ul class="projects">
  <li><a href="http://www.github.com/celeen">Github</a> |</li>
  <li><a href="http://celeen.info">Blog</a> |</li>
  <li><a href="http://www.linkedin.com/in/celeen">LinkedIn</a></li>
</ul>

<hr />

<h2 id="summary">Summary</h2>

<p>Adaptable software engineer with a head for knowing, a love of learning, and experience in a variety of technologies and environments. You’ll find me on any given day embracing challenge and exploration, actively appreciating whimsy, and vocally supporting the oxford comma.</p>

<hr />

<h2 id="skills">Skills</h2>

<p>Java, Selenium, Cucumber, Python, Ruby on Rails, HTML and CSS (Sass, Frameworks, Libraries), Javascript, Coffeescript, SQL, MongoDB, Agile Process, Object Oriented Design, Version Control in Git or Mercurial, TDD, Web deployment (Heroku, Digital Ocean), DNS</p>

<hr />

<h2 id="experience">Experience</h2>

<h3 id="associate-software-engineer-june-2015---october-2015">Associate Software Engineer: June 2015 - October 2015</h3>

<h4 id="give-forward-chicago-il">Give Forward: Chicago, IL</h4>

<ul class="experience">
  <li>
    <p>Developed software that helps empower compassion, working on front-end or back-end as needed</p>
  </li>
  <li>
    <p>Promoted efficient process throughout the team, learning a great deal through a combination of experience and research about flexible design decisions and software maintenence</p>
  </li>
</ul>

<h3 id="associate-software-engineer-in-test-september-2014---may-2015">Associate Software Engineer in Test: September 2014 - May 2015</h3>

<h4 id="sprout-social-chicago-il">Sprout Social: Chicago, IL</h4>

<ul class="experience">
  <li>
    <p>Developed software that tests Sprout’s website as part of an efficient team</p>
  </li>
  <li>
    <p>Promoted team success through mentoring new hires to the ASET role</p>
  </li>
  <li>
    <p>Increased team efficiency through mentoring manual testers in use of automtion tools to build QA scripts, and automation skeletons</p>
  </li>
  <li>
    <p>Improved efficiency by switching team’s version control to one the team was more familiar with (git), providing resources and documentation, and establishing team’s git workflow guidelines</p>
  </li>
</ul>

<h3 id="specialist-august-2011---may-2014">Specialist: August 2011 - May 2014</h3>

<h4 id="apple-retail-chicago-il">Apple Retail: Chicago, IL</h4>

<ul class="experience">
  <li>
    <p>Engaged an astoundingly diverse range of customers in the discovery of some really cool tech that provides solutions to problems they sometimes didn’t know they had</p>
  </li>
  <li>
    <p>Drove sales results in a high pace, goal-oriented environment with a well-oiled team, through mentoring, supporting, and improving morale</p>
  </li>
</ul>

<h3 id="science-support-staff-september-2009---june-2011">Science Support Staff: September 2009 - June 2011</h3>

<h4 id="nana-services-and-raytheon-polar-service-mcmurdo-station-antarctica">NANA Services and Raytheon Polar Service: McMurdo Station, Antarctica</h4>

<ul class="experience">
  <li>
    <p>Furthered scientific research in the antarctic as as a dishwasher, and a recycling technician</p>
  </li>
  <li>
    <p>Honed focus, determination and team building through working at repetitive tasks in high pressure and harsh environments</p>
  </li>
  <li>
    <p>Learned quickly: travelled and did volunteer work around the world, learning resourcefulness  and adaptability as well as, notably, learning passable Spanish in three weeks</p>
  </li>
</ul>

<hr />

<h2 id="projects">Projects</h2>

<p><a href="https://github.com/celeen/PythonDataStructures">Python Data Structures</a> is an exploratory, hands on TDD based course I’m building and leading for PyLadies. It’s a python adaptation of <a href="https://github.com/dastels/dbc-deep-dives">Dave Astels’ DBC Deep Dives</a>. Both projects aim to provide a hands on way for anyone to explore the inner workings of data structures by implementing them in an OO/TDD environment.  </p>

<p><a href="https://github.com/celeen/EmotionalSecurities">Emotional Securities</a> is a web app that explores the realtionship between public opinion of a company, and its stock price. The initial site was constructed in 8 days, as a final project at Dev Bootcamp.  </p>

<p><a href="https://github.com/tjhernandez34/OneTaste">OneTaste</a> is a social networking website for foodies. Users can share their experiences with different restaurants through reviews, connect with each other, share their food photos, and vote on each others’ reviews.  </p>

<hr />

<h2 id="education">Education</h2>

<h3 id="web-developer-in-training-june-2014---august-2014">Web Developer in Training: June 2014 - August 2014</h3>

<h4 id="dev-bootcamp-chicago-il">Dev Bootcamp: Chicago, IL</h4>

<ul class="experience">
  <li>
    <p>Completed a 9-week intensive program on web development that focuses on Ruby on Rails; in a short period of time, I learned a ton of technical skills (as seen above), but ultimately, I learned how to learn quickly</p>
  </li>
  <li>
    <p>Learned how to hone soft skills as they pertain to the technical world, with workshops ranging from how to respect diversity in the workplace, to managing your own ego, to strategies for working with different DISC types</p>
  </li>
</ul>

<h3 id="bachelors-of-music-in-music-business-2004---2008">Bachelor’s of Music in Music Business: 2004 - 2008</h3>

<h4 id="millikin-university-decatur-il">Millikin University: Decatur, IL</h4>

<hr />

<h2 id="community-involvement">Community Involvement</h2>

<h3 id="pyladies-chicago-january-2015---present">PyLadies Chicago: January 2015 - Present</h3>

<h4 id="co-organizer">Co-Organizer</h4>

<h3 id="pilsen-community-market-august-2014---present">Pilsen Community Market: August 2014 - Present</h3>

<h4 id="board-memberoverseer-of-web-stuff">Board Member/Overseer of Web Stuff</h4>

<h3 id="dev-bootcamp-august-2014---present">Dev Bootcamp: August 2014 - Present</h3>

<h4 id="mentorprep-guide">Mentor/Prep Guide</h4>

<p class="center hidden">View in <a href="../resume.txt">plain text</a> or <a href="../resume.pdf">outdated pdf</a></p>




